body{
    margin: 0;
    padding: 0;
    background: #E8DFE0;
    font-family: 'B612 Mono', sans-serif;
}
h1{
    font-family: 'B612 Mono', sans-serif;
    font-size: 70px;
    color:#000000;
    text-align: center;
}
.container{ 
  width:100%;
  margin: auto;
}
img{
    width: 100%;
}
